
/* code illisible dsl :) */



body {width: 576px;
margin: auto;
border: solid 1px lightgray;
font-family: 'Poppins', sans-serif;}




.column1, .column3, .column5, .column7 {background-color: #066AB2;
color: white;}

.column1 {height: 30px;
position: relative;
padding-bottom: 8px;}

.profil {font-size: 8px;
position: absolute;
left: 119px;
bottom: 15px;
word-spacing: 3px;
font-weight: 600;
}

.profil a {text-decoration: none;
color: white;}



.Noémie {font-size: small;
position: absolute;
left: 3px;
bottom: 15px;
font-weight:900;}


#column2 {height: 123px;
position: relative;}

.textcolumn2 {position: absolute;
left: 143px;
top: 28px;
line-height: 30px;
text-align: center;
}

img {height: 88px;
width: 85px;
border-radius: 45px;
position: absolute;
right: 163px;
bottom: 6px;}


.NM {font-weight: 900;
font: size 15px; ;}

.DFS {color:#066AB2 ;
font-weight: 900;
font-size: small;}


.column3 {height: 113px;
position: relative;
}

ul {position: absolute;
    left: 133px;
    font-size: x-small;
    bottom: 20px;
    line-height: 12px;
}

.Présentation {position: absolute;
    left: 125px;
font-size: small;}



.column4 {height: 185px;
position: relative;}

#ep {color: #066AB2;
position: absolute;
left: 125px;
font-size: small;
}

.Stagiaire {font-size: x-small;
position: absolute;
left: 125px;
font-weight: 900;
}

.Bénévole {font-size: x-small;
    position: absolute;
    left: 125px;
}

.Créa {font-size: xx-small;
position: absolute;
left: 125px;
font-weight: 600;
}

.Orga {font-size: xx-small;
    position: absolute;
    left: 125px;
    font-weight: 600;
}

span {position: absolute;
left: 350px;
white-space: nowrap;}

.column5 {height:94px;
position: relative;}

#Formation {position: absolute;
left: 125px;
font-size: small;}

.texteFormation {position: absolute;
left: 125px;
font-size: xx-small;}

.column6 {height: 93px;
position: relative;}

.Passions {position: absolute;
left: 125px;}

.textePassions {position: absolute;
    left: 125px;
    font-size: xx-small;}

.column7 {height:68px;
font-size: xx-small;
position: relative;}

.blog {padding: 20px;}

.rs {position: absolute;
left:180px;
top: 20px;}

.column7 a {
color: white;}

@media screen and (max-width: 500px) {
    body {
        width: 400px;
    }

    .textcolumn2 {
        position: absolute;
        left: 43px;
        top: 28px;
        line-height: 30px;
        text-align: center;
        }

        img {height: 88px;
            width: 85px;
            border-radius: 45px;
            position: absolute;
            right: 63px;
            bottom: 6px;}

    .Présentation {
        position: absolute;
        left: 25px;
        font-size: small;
    }

    ul {
        position: absolute;
        left: 33px;
        font-size: x-small;
        bottom: 20px;
        line-height: 12px;
    }

    #ep {
        color: #066AB2;
        position: absolute;
        left: 25px;
        font-size: small;
        }
        
        .Stagiaire {
            font-size: x-small;
            position: absolute;
            left: 25px;
            font-weight: 900;
        }
        
        .Bénévole {
            font-size: x-small;
            position: absolute;
            left: 25px;
        }
        
        .Créa {
            font-size: xx-small;
            position: absolute;
            left: 25px;
            font-weight: 600;
        }
        
        .Orga {
            font-size: xx-small;
            position: absolute;
            left: 25px;
            font-weight: 600;
        }

        span {
            position: absolute;
            left: 250px;
            white-space: nowrap;
        }

        #Formation {
            position: absolute;
            left: 25px;
            font-size: small;}
            
            .texteFormation {
                position: absolute;
            left: 25px;
            font-size: xx-small;
        }

        .Passions {
            position: absolute;
            left: 25px;}
            
            .textePassions {
                position: absolute;
                left: 25px;
                font-size: xx-small;}






}